@using GamingApp.Web.Components.Blocks
@inject NavigationManager NavManager
<header class="header">
    <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
        <div class="logo">Pixel Quest</div>
        <button @onclick="@(() => NavManager.NavigateTo("/"))" class="menu-button">
            <FluentIcon Value="@(new Icons.Regular.Size24.Home())" Color="Color.Accent" />
        </button>
        <button @onclick="@(() => NavManager.NavigateTo("/games"))" class="menu-button">
            <FluentIcon Value="@(new Icons.Regular.Size24.Games())" Color="Color.Accent" />
        </button>
        <button @onclick="@(() => NavManager.NavigateTo("/categories"))" class="menu-button">
            <FluentIcon Value="@(new Icons.Filled.Size24.Options())" Color="Color.Accent" />
        </button>
        <FluentSpacer />
        <UserMenu />
    </FluentStack>
</header>
