@inject NavigationManager NavManager

<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center" Class="header-content">
    <div class="logo" @onclick="@(() => NavManager.NavigateTo("/"))">Pixel Quest</div>
    <nav class="main-nav navbar">
        <NavLink href="/" Match="NavLinkMatch.All" class="nav-link" ActiveClass="active">
            <FluentIcon Value="@(new Icons.Regular.Size24.Home().WithColor("#ffffff"))" />
            <span class="nav-text">Home</span>
        </NavLink>
        <NavLink href="/games" class="nav-link" ActiveClass="active">
            <FluentIcon Value="@(new Icons.Regular.Size24.Games().WithColor("#ffffff"))" />
            <span class="nav-text">Games</span>
        </NavLink>
        <NavLink href="/categories" class="nav-link" ActiveClass="active">
            <FluentIcon Value="@(new Icons.Regular.Size24.Options().WithColor("#ffffff"))" />
            <span class="nav-text">Categories</span>
        </NavLink>
        <NavLink href="/leaderboard" class="nav-link" ActiveClass="active">
            <FluentIcon Value="@(new Icons.Regular.Size24.Trophy().WithColor("#ffffff"))" />
            <span class="nav-text">Leaderboard</span>
        </NavLink>
    </nav>
    <FluentSpacer />
    <UserMenu />
</FluentStack>
